/.gradle
/.idea
/gradle
/local.properties
/drodrolib/build
/drodrolib/drodrolib.iml
/YourAppIdea/build
/YourAppIdea/YourAppIdea.iml
/YourAppIdea/YourAppIdea-YourAppIdea.iml
/YourAppIdea.iml
/YourAppIdeaProject.iml
